{% extends 'studentbase.html' %}
{% block body %}
<style>
    .container {
        text-align: center;
        padding: 20px;
    }

    .card {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        margin: 20px;
        box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.2);
        background-color: #fff;
    }

    h1, h3 {
        color: #007bff; /* Blue color for headings */
    }

    
</style>

<div class="container">
    <div class="card">
        <h1>Student Panel</h1>
        <h3>Welcome {{ user_username }}</h3>
        
    </div>
</div>

{% endblock %}
