

{% block body %}
<style>
    body{
        background-color: gray;
       padding: 0;
       margin: 0;

    }
    
    .edit{
      
      margin-left: 400px;
      margin-top: 50px;
      background-color: white;
      width: 200px;
    padding: 90px;
     
    }
    .middle{
          width: 100%;
        box-sizing: border-box;
        
        height: 30px;
        border-color: 5px blue;
    }
    .save{
          width: 100%;
        box-sizing: border-box;
        
        height: 30px;
       background-color: rgb(79, 236, 16);
    }
</style>

<div class="color">
    <form action="" method="post">
        {% csrf_token %}
       
            <div class="edit">
            <h3 >Edit the Profile</h3>
                
                <select name="course" id="">
                {% for i in course %}
                <option  value="{{i.id}}" {% if i.id == edits.course.id %} selected {% endif %} required  >{{i.course}}</option>
                {% endfor %}
                    <label for="">Email</label>
                    <td><input type="text" class="middle" name="email" value="{{teacher.user.email}}"required ></td><br><br>
                    <label for="">Number</label>
                    <td><input type="text" class="middle" name="number" value="{{teacher.phonenumber}}"required oninput="validatenumber(this)"></td><br><br>

                  
                  
                    
</tr>
<tr>
                    <td><input  type="submit" class="save"  value="Save Changes"></td>
                </tr>
            </div>
            
      
        
    </form>
</div>
<script>
    function validatenumber(input) {
                        // Remove non-numeric characters from the input value
        input.value = input.value.replace(/[^0-9]/g, '');
    }
   
</script>

{% endblock %}
